doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="UTF-8")
    title naja
    if process.env.NODE_ENV === 'production'
      script(src="https://code.jquery.com/jquery-2.1.3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js")
      script(src="https://code.angularjs.org/1.4.0-rc.1/angular-route.min.js")
    else
      script(src="/vendor.bundle.js")
    script(src="/bundle.js")
  body(
    ng-controller="ShellController as vm"
    ng-keydown="vm.keyDown($event)"
  )
    nav#main_nav.navbar(
      ng-mouseleave="vm.toolbar.show()"
      ng-mouseenter="vm.toolbar.cancelShow()"
    )
      ul.float-container
        li.logo
          a naja
        li: a(ng-click="vm.json.clearObj()" href="#/new") New
        li: a(href="#/new") Edit
    div#toolbar.navbar(
      ng-class="{show: vm.toolbar.visible}"
    )
      ul.float-container
        li.logo(ng-mouseenter="vm.toolbar.visible = false")
          a naja
        li.tool-icon(
          ng-show="vm.json.obj === undefined"
          ng-class="{'enabled eager': vm.json.unparsed}"
          ng-click="vm.json.parse()"
        )
          a: img(ng-src="{{::vm.toolbar.checkmarkImg}}")
        li.tool-icon.enabled(
          ng-show="vm.json.obj !== undefined"
          ng-click="vm.json.clearObj()"
        )
          a: img(ng-src="{{::vm.toolbar.editImg}}")
        li divider
        li#left_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goLeft}"
          ng-click="vm.json.goLeft()"
        )
          a: img(ng-src="{{::vm.toolbar.arrowImg}}")/
        li#down_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goDown}"
          ng-click="vm.json.goDown()"
        )
          a: img(ng-src="{{::vm.toolbar.arrowImg}}")/
        li#up_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goUp}"
          ng-click="vm.json.goUp()"
        )
          a: img(ng-src="{{::vm.toolbar.arrowImg}}")/
        li#right_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goRight}"
          ng-click="vm.json.goRight()"
        )
          a: img(ng-src="{{::vm.toolbar.arrowImg}}")/
        li divider
        li#next_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goNext}"
          ng-click="vm.json.goNext()"
        )
          a: img(ng-src="{{::vm.toolbar.doubleArrowImg}}")/
        li#prev_arrow.tool-icon(
          ng-class="{enabled: vm.json.can.goPrev}"
          ng-click="vm.json.goPrev()"
        )
          a: img(ng-src="{{::vm.toolbar.doubleArrowImg}}")/
    .vert-lock.pad-top
      ng-view
