doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="UTF-8")
    title naja
    if process.env.NODE_ENV === 'production'
      script(src="https://code.jquery.com/jquery-2.1.3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
      script(src="https://code.angularjs.org/1.3.15/angular-route.min.js")
    script(src="bundle.js")
  body(
    ng-controller="ShellController as vm"
    ng-keydown="vm.keyDown($event)"
  )
    nav#main_nav.navbar(
      ng-mouseleave="vm.toolbar.show()"
      ng-mouseenter="vm.toolbar.cancelShow()"
    )
      ul.float-container
        li.logo
          a naja
        li: a(href="#/new") New
        li: a(href="#/new") Edit
    div#toolbar.navbar(
      ng-class="{show: vm.toolbar.visible}"
    )
      ul.float-container
        li.logo(ng-mouseenter="vm.toolbar.visible = false")
          a naja
        li#left_arrow.arrow(
          ng-class="{enabled: vm.json.canGoLeft}"
          ng-click="vm.json.goLeft()"
        )
          a: img(ng-src="{{vm.arrowImg}}")/
        li#down_arrow.arrow(
          ng-class="{enabled: vm.json.canGoDown}"
          ng-click="vm.json.goDown()"
        )
          a: img(ng-src="{{vm.arrowImg}}")/
        li#up_arrow.arrow(
          ng-class="{enabled: vm.json.canGoUp}"
          ng-click="vm.json.goUp()"
        )
          a: img(ng-src="{{vm.arrowImg}}")/
        li#right_arrow.arrow(
          ng-class="{enabled: vm.json.canGoRight}"
          ng-click="vm.json.goRight()"
        )
          a: img(ng-src="{{vm.arrowImg}}")/
    .vert-lock.pad-top
      ng-view
